.divider {
  margin: 0 10px;
  border-right: 1px solid #eee;
}
.header .header__top {
  padding: 0 10px;
}
.header .header__top .logo {
  float: left;
  width: 100px;
  height: 40px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: -9px 5px;
}
.header .header__top .phone {
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
}
.header .header__top .stock {
  display: inline-block;
  margin: 0 20px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background-color: #FF0000;
  color: white;
  text-decoration: none;
}
.header .header__top .search {
  display: inline-block;
  width: 30%;
}
.header .header__top .search .search__input {
  padding: 0 10px;
  width: 70%;
  line-height: 28px;
  font-size: 16px;
  border: 1px solid #000000;
}
.header .header__top .search .search__input:focus {
  outline: none;
  background-color: #FFF80D;
}
.header .header__top .search .search__submit {
  padding: 4px 5px;
  border: 1px solid #000000;
  border-radius: 3px;
}
.header .header__top .right-links {
  float: right;
}
.header .header__top .right-links a {
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
.header .header__top .right-links a:hover {
  color: #0E6EB5;
}
.header .nav-menu {
  background-color: #0E6EB5;
  overflow: hidden;
}
.header .nav-menu .nav-menu__item {
  float: left;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}
.header .nav-menu .nav-menu__item:hover {
  background-color: #107ccd;
}
.header .nav-menu .nav-menu__item-active,
.header .nav-menu .nav-menu__item-active:hover {
  background-color: #128be4;
}
.header .nav-menu .nav-menu__item-catalog {
  width: 20%;
  padding: 0 10px;
}
.header .nav-menu .nav-menu__item_other {
  float: right;
  padding: 0 10px;
  color: #FFF80D;
}
.catalog-list-side {
  float: left;
  width: 20%;
}
.catalog-list-side a {
  box-sizing: border-box;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #EEEEEE;
}
.catalog-list-side a:hover {
  color: #ffffff;
  background-color: #128be4;
}
.catalog-list-side_divider {
  border-right: 1px solid #EEEEEE;
}
.content {
  float: left;
  width: 80%;
}
.content .widget-selection {
  padding: 20px 0 10px;
  overflow: hidden;
  border-left: 1px solid #EEEEEE;
}
.content .widget-selection:first-child {
  padding-top: 30px;
}
.content .widget-selection .widget-selection__title {
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  font-weight: normal;
  color: #FF0000;
}
.content .widget-selection .widget-selection__item {
  float: left;
  width: 20%;
  padding: 10px;
}
.content .widget-selection .widget-selection__item .product {
  margin: 0 auto;
}
.content_divider {
  border-left: 1px solid #EEEEEE;
}
.product {
  width: 200px;
  height: 265px;
  border: 1px solid #EEEEEE;
}
.product .product__picture {
  display: block;
  margin: 10px auto;
  height: 150px;
  background-position: center;
  background-size: contain;
}
.product .product__title {
  padding: 0 10px;
  font-weight: normal;
}
.product .product__price {
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
}
.product .product__to-card {
  padding: 0 10px;
  color: #FF0000;
  cursor: pointer;
}
.product_wide {
  padding: 10px;
}
.product_wide .product__picture {
  float: left;
  height: 90px;
  margin-right: 10px;
}
.product_wide .product_wide__description {
  float: left;
}
.product_wide .product_wide__description .product__title {
  font-weight: normal;
}
.product_wide .product_wide__description .product__price {
  font-size: 18px;
  font-weight: bold;
}
.product_wide .product_wide__description .product__to-card {
  color: #FF0000;
  cursor: pointer;
}
.slider {
  height: 328px;
  background-color: #740CE8;
  background-image: url(../images/slider/01.jpg);
  background-position: center;
}
.breadcrumbs {
  line-height: 40px;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #0E6EB5;
}
.breadcrumbs .breadcrumbs__divider {
  color: #bbbbbb;
}
.catalog-list-header {
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}
.catalog-list-header .breadcrumbs {
  float: left;
}
.catalog-list-header .sort {
  float: right;
  display: inline-block;
  line-height: 40px;
}
.catalog-list-header .sort select {
  height: 40px;
  cursor: pointer;
}
.catalog-list-header .sort select:focus {
  outline: none;
}
.catalog-list-header .catalog-list-mode {
  float: right;
  line-height: 40px;
}
.catalog-list-header .catalog-list-mode a {
  color: #000000;
  text-decoration: none;
}
.catalog-list-header .catalog-list-mode a:hover,
.catalog-list-header .catalog-list-mode a.active {
  color: #0E6EB5;
}
.catalog-list {
  padding: 0 10px;
  overflow: hidden;
}
.catalog-list .catalog-list__item {
  margin: 10px 0;
  float: left;
  width: 20%;
}
.catalog-list .catalog-list__item .product {
  margin: 0 auto;
}
.catalog-list .catalog-list__item_wide {
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}
.catalog-table {
  width: 100%;
}
.catalog-table th,
.catalog-table td {
  padding: 10px;
}
.catalog-table th {
  font-weight: bold;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.catalog-table td {
  border: 1px solid #EEEEEE;
}
.more {
  padding: 20px 10px;
  text-align: center;
}
.more .more__button {
  padding: 4px 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
