body {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.divider {
  margin: 0 10px;
  border-right: 1px solid #eee;
}
.header .header__top {
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
}
.header .header__top a {
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
.header .header__top a:hover {
  color: #0E6EB5;
}
.header .header__middle {
  margin: 0 auto;
  width: 1300px;
  height: 100px;
}
.header .header__middle .logo {
  float: left;
  width: 270px;
  height: 100px;
  background-image: url(../images/logo.png);
  background-position: center 61%;
}
.header .header__middle > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header .header__middle > div .search {
  position: relative;
  width: 500px;
}
.header .header__middle > div .search .search__input {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 0 10px;
  width: 410px;
  height: 40px;
  line-height: 28px;
  font-size: 1.3em;
  border: 1px solid #0E6EB5;
}
.header .header__middle > div .search .search__input:focus {
  outline: none;
}
.header .header__middle > div .search .search__submit {
  position: absolute;
  top: 50%;
  left: 410px;
  margin-top: -20px;
  width: 90px;
  height: 40px;
  line-height: 40px;
  background-color: #0E6EB5;
  color: #FFFFFF;
}
.header .header__middle > div .search .search__submit:hover {
  background-color: #107ccd;
}
.header .header__middle > div .phones .phones__item {
  line-height: 40px;
  font-size: 1.5em;
  color: #E88A0C;
}
.header .header__middle > div .cart {
  padding: 0 20px;
  font-size: 1.3em;
}
.header .header__middle > div .cart .card-ico {
  vertical-align: text-bottom;
  font-size: 1.5em;
}
.header .nav-menu {
  background-color: #0E6EB5;
  overflow: hidden;
  font-size: 17px;
}
.header .nav-menu div {
  margin: 0 auto;
  width: 1300px;
}
.header .nav-menu div .nav-menu__item {
  float: left;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}
.header .nav-menu div .nav-menu__item:hover {
  background-color: #107ccd;
}
.header .nav-menu div .nav-menu__item_active,
.header .nav-menu div .nav-menu__item_active:hover {
  background-color: #128be4;
}
.header .nav-menu div .nav-menu__item_catalog {
  width: 270px;
  padding: 0 10px;
}
.header .nav-menu div .nav-menu__item_stock {
  background-color: #FF0000;
}
.header .nav-menu div .nav-menu__item_stock:hover {
  background-color: #FF0000;
}
.container {
  display: flex;
  margin: 0 auto;
  width: 1300px;
}
.container .catalog-list-side {
  width: 270px;
}
.container .catalog-list-side a {
  box-sizing: border-box;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #EEEEEE;
}
.container .catalog-list-side a:hover {
  color: #ffffff;
  background-color: #128be4;
}
.container .content {
  width: 1030px;
}
.container .content .widget-selection {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
}
.container .content .widget-selection .widget-selection__title {
  text-align: center;
  font-weight: normal;
  color: #FF0000;
}
.container .content .widget-selection .widget-selection__item {
  flex-grow: 1;
  border: 1px solid transparent;
}
.container .content .widget-selection .widget-selection__item:hover {
  border: 1px solid #0E6EB5;
}
.container .content .widget-selection .widget-selection__item .product {
  margin: 0 auto;
}
.footer {
  background-color: #EEEEEE;
  height: 200px;
}
.catalog-list-side_divider {
  border-right: 1px solid #EEEEEE;
}
.content_divider {
  border-left: 1px solid #EEEEEE;
}
.product {
  position: relative;
  width: 200px;
}
.product .product-label {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
}
.product .product-label_sale {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF0000;
}
.product .product-label_top {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  background-color: #E88A0C;
}
.product .product-label_new {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  color: #000000;
  background-color: #FFF80D;
}
.product .product__picture {
  display: block;
  margin: 5px auto;
  height: 150px;
  background-position: center;
  background-size: contain;
}
.product .product__title {
  padding: 0 5px;
  font-weight: normal;
}
.product .product__price {
  display: inline-block;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
}
.product .product__price_old {
  display: inline-block;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  font-weight: normal;
  color: #B5B5B5;
  text-decoration: line-through;
}
.product .product__to-card {
  display: inline-block;
  margin: 5px 5px 10px;
  padding: 5px 15px;
  color: #0E6EB5;
  border: 1px solid #0E6EB5;
  cursor: pointer;
}
.product .product__to-card:hover {
  background-color: #0E6EB5;
  color: #FFFFFF;
}
.product_wide {
  padding: 10px;
}
.product_wide .product__picture {
  float: left;
  height: 90px;
  margin-right: 10px;
}
.product_wide .product_wide__description {
  float: left;
}
.product_wide .product_wide__description .product__title {
  font-weight: normal;
}
.product_wide .product_wide__description .product__price {
  font-size: 18px;
  font-weight: bold;
}
.product_wide .product_wide__description .product__to-card {
  color: #FF0000;
  cursor: pointer;
}
.slider {
  height: 328px;
  background-image: url(../images/slider/01.jpg);
  background-position: center;
}
.breadcrumbs {
  line-height: 40px;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #0E6EB5;
}
.breadcrumbs .breadcrumbs__divider {
  color: #bbbbbb;
}
.catalog-list-header {
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}
.catalog-list-header .breadcrumbs {
  float: left;
}
.catalog-list-header .sort {
  float: right;
  display: inline-block;
  line-height: 40px;
}
.catalog-list-header .sort select {
  height: 40px;
  cursor: pointer;
}
.catalog-list-header .sort select:focus {
  outline: none;
}
.catalog-list-header .catalog-list-mode {
  float: right;
  line-height: 40px;
}
.catalog-list-header .catalog-list-mode a {
  color: #000000;
  text-decoration: none;
}
.catalog-list-header .catalog-list-mode a:hover,
.catalog-list-header .catalog-list-mode a.active {
  color: #0E6EB5;
}
.catalog-list {
  padding: 0 10px;
  overflow: hidden;
}
.catalog-list .catalog-list__item {
  margin: 10px 0;
  float: left;
  width: 20%;
}
.catalog-list .catalog-list__item .product {
  margin: 0 auto;
}
.catalog-list .catalog-list__item_wide {
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
}
.catalog-table {
  width: 100%;
}
.catalog-table th,
.catalog-table td {
  padding: 10px;
}
.catalog-table th {
  font-weight: bold;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.catalog-table td {
  border: 1px solid #EEEEEE;
}
.more {
  padding: 20px 10px;
  text-align: center;
}
.more .more__button {
  padding: 4px 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.banner {
  margin: 0 auto;
  width: 800px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
  background-color: #EEEEEE;
}
.sub-categories {
  margin: 0 auto;
  width: 1300px;
}
.sub-categories .sub-categories__container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.sub-categories .sub-categories__container > * {
  margin: 20px 0;
  padding: 0 20px;
  border-right: 1px solid #EEEEEE;
}
.sub-categories .sub-categories__container > *:first-child,
.sub-categories .sub-categories__container > *:nth-child(5n) {
  border-left: 1px solid #EEEEEE;
}
.sub-categories .sub-categories__container .sub-category {
  width: 325px;
}
.sub-categories .sub-categories__container .sub-category .sub-category__title {
  text-align: center;
}
.sub-categories .sub-categories__container .sub-category img {
  display: block;
  margin: 10px auto;
}
.sub-categories .sub-categories__container .sub-category ul {
  list-style: none;
  font-size: 16px;
}
.sub-categories .sub-categories__container .sub-category ul li {
  margin: 10px 0;
}
