@import 'variables';
@import 'sticky-footer';

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.divider {
  margin: 0 10px;
  border-right: 1px solid #eee;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  //border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.catalog-list-side {
  box-sizing: border-box;
  width: @container-width / 4 - @sidebar-offset;
  //border-right: 1px solid @color-divider;
  //border-left: 1px solid @color-divider;
  a {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid @color-divider;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: #ffffff;
      background-color: lighten(@color-primary, 10%);
    }
  }
}

.widget-selection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  .widget-selection__item {
    width: (@container-width - @container-width / 4) / 4;
  }
}

.catalog-list-side_divider {
  border-right: 1px solid @color-divider;
}

.content_divider {
  border-left: 1px solid @color-divider;
}

.product {
  position: relative;
  padding: 10px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid @color-primary;
  }
  .product-label {
    position: absolute;
    top: 20px;
    left: 10px;
    min-width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
  }
  .product-label_sale {
    .product-label();
    background-color: @color-danger;
  }
  .product-label_top {
    .product-label();
    background-color: @color-warning;
  }
  .product-label_new {
    .product-label();
    color: #000000;
    background-color: @color-success;
  }
  .product__picture {
    display: block;
    margin: 5px auto;
    height: 150px;
    background-position: center;
    background-size: contain;
  }
  .product__title {
    padding: 0 5px;
    font-weight: normal;
  }
  .product__price {
    display: inline-block;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .product__price_old {
    .product__price();
    font-weight: normal;
    color: #B5B5B5;
    text-decoration: line-through;
  }
  .product__to-card {
    display: inline-block;
    margin: 5px 5px 10px;
    padding: 5px 15px;
    color: @color-primary;
    border: 1px solid @color-primary;
    cursor: pointer;
    &:hover {
      background-color: @color-primary;
      color: #FFFFFF;
    }
  }
}

.for(@index) when (@index <= 12) {
  .col-@{index} {
    padding: 0 10px;
    width: 100% / 12 * @index;
  }
  .for(@index + 1)
}
.for(1);
.row {
  display: flex;
}

.product_in-cart {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid @color-divider;
  &:hover {
    border: none;
    border-bottom: 1px solid @color-divider;
  }
  .product__title {
    font-size: 1.5em;
  }
  .product__actions {
    overflow: hidden;
  }
  .product__count {
    & > * {
      float: left;
    }
    .btn {
      width: 40px;
    }
    input {
      outline: none;
      width: 40px;
      height: 40px;
      line-height: 28px;
      font-size: 1.3em;
      text-align: center;
      border-top: 1px solid @color-primary;
      border-bottom: 1px solid @color-primary;
    }
  }
  .product__remove {
    float: right;
    font-size: 2em;
    color: @color-danger;
    background-color: transparent;
    span {
      line-height: 40px;
    }
  }
  .product__amount-title {
    margin: 10px 0;
  }
  .product__amount {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.cart-total {
  padding: 10px 0;
  .cart-total__title {
    text-align: right;
    font-size: 1.5em;
  }
  .cart-total__amount {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.btn {
  height: 40px;
  line-height: 40px;
  color: #FFFFFF;
  background-color: @color-primary;
}

.btn__checkout {
  width: 100%;
  font-size: 1.5em;
  background-color: @color-warning;
  padding: 0 20px;
}

.slider {
  height: 328px;
  background-image: url(../images/slider/01.jpg);
  background-position: center;
}

.breadcrumbs {
  line-height: 40px;
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: @color-primary;
    }
  }
  .breadcrumbs__divider {
    color: darken(@color-divider, 20%);
  }
}

.catalog-list-header {
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid @color-divider;
  .breadcrumbs {
    float: left;
  }
  .sort {
    float: right;
    display: inline-block;
    line-height: 40px;
    select {
      height: 40px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  .catalog-list-mode {
    float: right;
    line-height: 40px;
    a {
      color: #000000;
      text-decoration: none;
      &:hover,
      &.active {
        color: @color-primary;
      }
    }
  }
}

.catalog-list {
  padding: 0 10px;
  overflow: hidden;
  .catalog-list__item {
    margin: 10px 0;
    float: left;
    width: 20%;
    .product {
      margin: 0 auto;
    }
  }
  .catalog-list__item_wide {
    overflow: hidden;
    border-bottom: 1px solid @color-divider;
  }
}

.catalog-table {
  width: 100%;
  th, td {
    padding: 10px;
  }
  th {
    font-weight: bold;
    border: 1px solid @color-divider;
    border-top: none;
  }
  td {
    border: 1px solid @color-divider;
  }
}

.more {
  padding: 20px 10px;
  text-align: center;
  .more__button {
    padding: 4px 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
  }
}

.banner {
  margin: 0 auto;
  width: 800px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
  background-color: @color-divider;
}

.catalog-nav {
  border: 1px solid @color-divider;
  a {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    border-bottom: 1px solid @color-divider;
    &.catalog-nav__active {
      color: #ffffff;
      background-color: lighten(@color-primary, 10%);
      border-bottom: 1px solid lighten(@color-primary, 10%);
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: #ffffff;
      background-color: lighten(@color-primary, 10%);
      border-bottom: 1px solid lighten(@color-primary, 10%);
    }
    &.catalog-nav__back {
      color: #ffffff;
      background-color: @color-primary;
      border-bottom: 1px solid @color-primary;
      &:hover {
        color: #ffffff;
        background-color: @color-primary;
      }
    }
  }
}

.catalog {
  margin: 0 auto;
  padding: 20px 0;
  width: @container-width;
  .catalog__title {
    margin: 0 0 20px 0;
    font-weight: normal;
    border-bottom: 1px solid @color-divider;
  }
  .catalog__container {
    display: flex;
    .catalog__sidebar {
      padding-right: @sidebar-offset;
      width: @container-width / 4;

    }
    .catalog__content {
      width: @container-width - @container-width / 4;
      .products {
        margin-bottom: 20px;
      }
    }
  }
}

.products-panel {
}

.products {
  display: flex;
  flex-wrap: wrap;
  .product {
    width: (@container-width - @container-width / 4) / 4;
  }
}

.sub-categories {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 20px 0;
    padding: 0 20px;
    border-right: 1px solid @color-divider;
  }
  & > *:nth-child(3n+1) {
    border-left: 1px solid @color-divider;
  }
  .sub-category {
    display: block;
    width: @container-width / 4;
    .sub-category__title {
      text-align: center;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    ul {
      list-style: none;
      font-size: 16px;
      li {
        margin: 10px 0;
      }
    }
  }
}

.pager {
  display: flex;
  justify-content: center;
  a {
    display: block;
    width: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    &:hover,
    &.pager__active {
      color: #ffffff;
      background-color: lighten(@color-primary, 10%);
    }
  }
}
