@color-primary: #0E6EB5;
@color-success: #FFF80D;
@color-info: #740CE8;
@color-warning: #E88A0C;
@color-danger: #FF0000;
@color-divider: #EEEEEE;

.divider {
  margin: 0 10px;
  border-right: 1px solid #eee;
}

.header {
  .header__top {
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid @color-divider;
    text-align: center;
    a {
      line-height: 40px;
      color: #000;
      text-decoration: none;
      &:hover {
        color: @color-primary;
      }
    }
  }
  .header__middle {
    height: 100px;
    .logo {
      float: left;
      width: 20%;
      height: 100px;
      background-image: url(../images/logo.png);
      background-position: center 61%;
    }
    .search {
      position: relative;
      float: left;
      width: 500px;
      height: 100px;
      .search__input {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        padding: 0 10px;
        width: 410px;
        height: 40px;
        line-height: 28px;
        font-size: 1.3em;
        border: 1px solid @color-primary;
        &:focus {
          outline: none;
        }
      }
      .search__submit {
        position: absolute;
        top: 50%;
        left: 410px;
        margin-top: -20px;
        width: 90px;
        height: 40px;
        line-height: 40px;
        background-color: @color-primary;
        color: #FFFFFF;
        &:hover {
          background-color: lighten(@color-primary, 5%);
        }
      }
    }
    .phones {
      float: left;
      padding: 10px 40px;
      .phones__item {
        line-height: 40px;
        font-size: 1.5em;
        color: @color-warning;
      }
    }
    .cart {
      float: left;
      padding: 0 20px;
      height: 100px;
      line-height: 100px;
      font-size: 1.3em;
    }
  }
  .nav-menu {
    background-color: @color-primary;
    overflow: hidden;
    .nav-menu__item {
      float: left;
      display: block;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-decoration: none;
      &:hover {
        background-color: lighten(@color-primary, 5%);
      }
    }
    .nav-menu__item_active,
    .nav-menu__item_active:hover {
      background-color: lighten(@color-primary, 10%);
    }
    .nav-menu__item_catalog {
      width: 20%;
      padding: 0 10px;
    }
    .nav-menu__item_stock {
      background-color: @color-danger;
      &:hover {
        background-color: @color-danger;
      }
    }
  }
}

.catalog-list-side {
  float: left;
  width: 20%;
  a {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid @color-divider;
    &:hover {
      color: #ffffff;
      //background-color: @color-primary;
      background-color: lighten(@color-primary, 10%);
    }
  }
}

.catalog-list-side_divider {
  border-right: 1px solid @color-divider;
}

.content {
  float: left;
  width: 80%;
  .widget-selection {
    padding: 20px 0 10px;
    overflow: hidden;
    border-left: 1px solid @color-divider;
    &:first-child {
      padding-top: 30px;
    }
    .widget-selection__title {
      border-bottom: 1px solid @color-divider;
      text-align: center;
      font-weight: normal;
      color: @color-danger;
    }
    .widget-selection__item {
      float: left;
      width: 20%;
      padding: 10px;
      .product {
        margin: 0 auto;
      }
    }
  }
}

.content_divider {
  border-left: 1px solid @color-divider;
}

.product {
  width: 200px;
  height: 265px;
  border: 1px solid @color-divider;
  .product__picture {
    display: block;
    margin: 10px auto;
    height: 150px;
    background-position: center;
    background-size: contain;
  }
  .product__title {
    padding: 0 10px;
    font-weight: normal;
  }
  .product__price {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .product__to-card {
    padding: 0 10px;
    color: @color-danger;
    cursor: pointer;
  }
}

//todo create mixin product
.product_wide {
  padding: 10px;
  .product__picture {
    float: left;
    height: 90px;
    margin-right: 10px;
  }
  .product_wide__description {
    float: left;
    .product__title {
      font-weight: normal;
    }
    .product__price {
      font-size: 18px;
      font-weight: bold;
    }
    .product__to-card {
      color: @color-danger;
      cursor: pointer;
    }
  }
}

.slider {
  height: 328px;
  background-color: @color-info;
  background-image: url(../images/slider/01.jpg);
  background-position: center;
}

.breadcrumbs {
  line-height: 40px;
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: @color-primary;
    }
  }
  .breadcrumbs__divider {
    color: darken(@color-divider, 20%);
  }
}

.catalog-list-header {
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid @color-divider;
  .breadcrumbs {
    float: left;
  }
  .sort {
    float: right;
    display: inline-block;
    line-height: 40px;
    select {
      height: 40px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  .catalog-list-mode {
    float: right;
    line-height: 40px;
    a {
      color: #000000;
      text-decoration: none;
      &:hover,
      &.active {
        color: @color-primary;
      }
    }
  }
}

.catalog-list {
  padding: 0 10px;
  overflow: hidden;
  .catalog-list__item {
    margin: 10px 0;
    float: left;
    width: 20%;
    .product {
      margin: 0 auto;
    }
  }
  .catalog-list__item_wide {
    overflow: hidden;
    border-bottom: 1px solid @color-divider;
  }
}

.catalog-table {
  width: 100%;
  th, td {
    padding: 10px;
  }
  th {
    font-weight: bold;
    border: 1px solid @color-divider;
    border-top: none;
  }
  td {
    border: 1px solid @color-divider;
  }
}

.more {
  padding: 20px 10px;
  text-align: center;
  .more__button {
    padding: 4px 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
  }
}
